:root {
    --text: rgb(10,10,10);
    --link: rgb(0,0,255);
    --bg: rgb(255,255,255);
    --lines: rgb(200,200,200);

    --width: 1000px;
}
html[data-theme='light'] {
/*light theme*/
    --text: rgb(10,10,10);
    --link: rgb(0,0,255);
    --bg: rgb(255,255,255);
    --lines: rgb(200,200,200);
}
html[data-theme='dark'] {
/*dark theme*/
    --text: rgb(240,240,240);
    --link: rgb(255,100,100);
    --bg: rgb(30, 30, 30);
    --lines: rgb(100,100,100);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    display: flex;
    align-items: center;

    display: flex;
    justify-content: center;
    transition: all 0.2s ease;

    color: var(--text);
}

a {
    color: var(--link);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}

img {
    width: 200px;
}

.doc {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: var(--width);
    margin: 0px 20px;
    min-height: 100vh;
    border-right: 1px solid var(--lines);
    border-left: 1px solid var(--lines);
}

.header {
    margin-bottom: 60px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--lines);
    padding-right: 10px;
    padding-left: 10px;
}

.content {
    padding: 0px 10px;
}

.footer {
    border-top: 1px solid var(--lines);
    padding: 20px 10px;
    margin-top: 80px;
}

.nav {
    user-select: none;
    width: 80%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    color: var(--lines);
}

.search-wrapper {
    margin-top: 20px;
}

.image-deck {
    padding: 40px 0px;
}

.top-line {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.search-input {
    background-color: transparent;
    border: 1px solid var(--text);
    padding: 4px;
    border-radius: 4px;
    color: var(--text);
    outline: none;
}

.search-button {
    background-color: transparent;
    border: 1px solid var(--text);
    padding: 4px;
    border-radius: 4px;
    color: var(--text);
    font-weight: 600;
    transition: all 0.2s ease;
}

.search-button:hover {
    background-color: var(--text);
    color: var(--bg);
}

/* next css is for the theme toggler */

.label {
    width: 50px;
    height: 26px;
    display: flex;
    background-color: var(--bg);
    border: 1px solid var(--lines);
    border-radius: 50px;
    align-items: center;
    position: relative;
    transition: all 0.2s ease;
}

.ball {
    width: 20px;
    height: 20px;
    background-color: var(--text);
    position: absolute;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: all 0.2s linear;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked +.label .ball{
    transform: translateX(24px);
}