:root {
    --color-bg: #fff;
    --color-content-bg: rgb(235, 244, 255);
    --color-txt: #000;
    --color-link: rgb(10, 10, 240);

    --doc-width: 1000px;
}

body {
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    align-items: center;    

    display: flex;
    justify-content: center;
}

h1 {
    color: black;
    padding: 40px 0px;
}

p {
    color: black;
}

a {
    color: var(--color-link);
}

.doc {
    max-width: var(--doc-width);
    padding: 0px 10px;
    background-color: var(--color-content-bg);
    height: 100vh;
}

.nav {
    width: 80%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.nav-divider {
    margin-top: 20px;
    margin-bottom: 80px;
    color: white;
}

.search-wrapper {
    margin-top: 20px;
}
